.palito {
    margin: auto;
    width:10px;
    height: 100px;
    background-color:black;
    margin-top: 10px;
}

.trafic-light {
    background-color: black;
    display: grid;
    width: 120px;
    height: 320px;
    margin:auto;
    padding:10px;
    border-radius: 10px;
}

.light {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.brillo {
    box-shadow: 0px 0px 15px 25px white;
}


